body {
    background-color:green;
    font-family: "Calibri";
}
h1 {
    text-align:center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td {
    height: 145px;
}
button {
    background-color: inherit;
    border: none;
}
#start {
    background-color: limegreen;
    border: black 2.3pt solid;
    border-radius: 5pt;
    color: white;
    display: block;
    margin: auto;
    padding: 0.5%;
    font-size: 130%;
    font-weight: bold;
}
#start:hover {
    font-size: 140%;
    border-right:black solid 3.5pt;
    border-bottom:black solid 4pt;
}
img {
    width: 150px;
}
#cim {
    padding-left: 40.5%;
    padding-right: 36%;
    padding-top:1%;
    border-collapse: collapse;
    font-weight: bold;
    text-align: center;
    font-size: 250%;
}
.job {
    text-align: right;
    width:75pt;
    height: fit-content;
}
.job2 {
    text-align: right;
    width:20pt;
    height: fit-content;
}
.bal {
    text-align: left;
    width:100pt;
}
#nehezseg {
    background-color: limegreen;
    border: black 2.3pt solid;
    border-radius: 5pt;
    color: white;
    display: block;
    margin: auto;
    padding: 3%;
    font-size: 100%;
    color:white;
}
#nehezseg:hover {
    font-size: 105%;
    border-right:black solid 3.5pt;
    border-bottom:black solid 4pt;
}
#nehezseg2{
    padding-top:1%;
}
ul{
    list-style-type:none;
    padding:0pt;
    margin:0pt;
    overflow:hidden;
}
li {
    float:left;
}
#stats{
    background-color: limegreen;
    border: black 2.3pt solid;
    border-radius: 5pt;
    color: white;
    display: block;
    margin: auto;
    padding: 3%;
    font-size: 100%;
    color:white;
}
